.task-cell {
  background: #fff;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 15px 7px;
  transition: background-color 0.3s;
  width: 100%;
}

.task-cell:hover {
  background-color: #8ed1f0;
}

.add-task-button {
  background-color: #2d91ee;
  color: #fff;
  justify-content: center;
}

.add-task-button:hover {
  background-color: #5ab0f7;
}

.task-close-button {
  position: relative;
  top: -50px;
  right: -220px;
}

/* CSS cho các thành phần trong ô task*/
.task-label,
.task-project,
.task-priority,
.task-due-date {
  margin: 2px;
}

/* Task.css */

.submit-button {
  background-color: #1890ff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #40a9ff;
}

/* CSS cho button Update */
.btn-update {
  background-color: #1890ff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  top: 3px;
}

.btn-update:hover {
  background-color: #57b2fc;
}

.btn-update span {
  position: relative;
  top: -3px;
}

/* CSS cho cột */
.task-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 20px;
}

/* CSS cho container của các cột */
.task-columns-container {
  display: flex;
  justify-content: space-between;
}

.info-1 {
  margin: 10px 2px;
}

.info-2 {
  margin: 0px 5px;
}
