.task-cell {
  background: #fff;
  padding: 10px 20px;
  border: 1px solid #0066ff;
  border-radius: 5px;
  margin: 15px 7px;
  transition: background-color 0.3s;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.task-cell:hover {
  background-color: #8ed1f0;
}

.task-cell-left {
}

.task-cell.selected {
  background-color: #e6f7ff;
}

.task-cell-label {
  font-weight: 500;
  margin-right: 10px;
}

.task-close {
  cursor: pointer;
}

.task-cell-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 25px;
}

.task-checkbox {
  display: flex;
  justify-content: center;
}

.add-task-button {
  margin-top: 15px;
  background-color: #2d91ee;
  color: #fff;
}

.task-addTask {
  display: flex;
  justify-content: center;
}

.add-task-button:hover {
  background-color: #5ab0f7;
}

.task-close-button {
  top: -8px;
}

/* CSS cho các thành phần trong ô task*/
.task-label,
.task-project,
.task-priority,
.task-due-date {
  margin: 2px;
}

.task-due-date {
  color: red;
  font-weight: 650;
}

/* Task.css */

.update-button {
  background-color: #1890ff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.update-button span {
  position: relative;
  top: -3px;
}

/* CSS cho cột */
.task-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 20px;
}

.custom-textarea {
  width: 500px;
  height: 1000px;
}
